<!DOCTYPE html>
<!--[if lt IE 8]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Tworzymy wielkie dzieła z małych rzeczy. Internet of Things.</title>

    <meta name="description" content="Soft body jellyfish simulation. Built with Particulate.js and Three.js">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    {% if TEMPLATE_DEBUG %}
      <link rel="stylesheet" href="{{ STATIC_URL }}css/tests.css" />
    {% endif %}
  </head>
  <body>
    <article id="info_pl" class="modal info_pl-modal">
      <h1>tworzymy <strong>wielkie</strong> dzieła z <strong>małych</strong> rzeczy</h1>
      <div class="info-section">
        <dl>
          <dt>internet rzeczy</dt>
          <dd><a href="mailto:hi@looksmart.com.pl"></a></dd>
        </dl>
      </div>
      <div class="info-section">
        <dl>
          <dt>łukasz</dt>
          <dd>ceo / head of future</dd>
        </dl>
      </div>
      <div class="info-section">
        <dl>
          <dt>dołącz do nas</dt>
          <dd><a href="mailto:hi@looksmart.com.pl">hi@looksmart.com.pl</a></dd>
        </dl>
      </div>
    </article>
    
    <article id="info_en" class="modal info_en-modal">
      <h1>we turn <strong>small</strong> things into <strong>masterpieces</strong></h1>
      <div class="info-section">
        <dl>
          <dt>internet of things</dt>
          <dd><a href="mailto:hi@looksmart.com.pl"></a></dd>
        </dl>
      </div>
      <div class="info-section">
        <dl>
          <dt>łukasz</dt>
          <dd>ceo / head of future</dd>
        </dl>
      </div>
      <div class="info-section">
        <dl>
          <dt>join us</dt>
          <dd><a href="mailto:hi@looksmart.com.pl">hi@looksmart.com.pl</a></dd>
        </dl>
      </div>
    </article>
    
    <!--<div id="cover-info_pl" class="modal-cover"></div>!-->
    <!--<div id="cover-info_en" class="modal-cover"></div>!-->

    <div id="container-controls">
      <div id="menu-colors" class="controls-menu"></div>
      <div id="toggle-info_pl" class="controls-button">
        <div class="label">pl</div>
      </div>
      <div id="toggle-info_en" class="controls-button">
        <div class="label">en</div>
      </div>
    </div>

    <div id="container-stats" class="stats-panel">
      <div id="container-graphs"></div>
      <dl>
        <dt>Particles</dt>
        <dd id="particle-count"></dd>
      </dl>
      <dl>
        <dt>Constraints</dt>
        <dd id="constraint-count"></dd>
      </dl>
      <dl>
        <dt>Forces</dt>
        <dd id="force-count"></dd>
      </dl>
    </div>

    <div id="container"></div>

    {% if TEMPLATE_DEBUG %}
      <script src="{{ STATIC_URL }}lib/three/three.js"></script>
      <script src="{{ STATIC_URL }}js/libs.develop.js"></script>
      <script src="{{ STATIC_URL }}js/shader-chunks.develop.js"></script>
      <script src="{{ STATIC_URL }}js/shaders.develop.js"></script>
      <script src="{{ STATIC_URL }}js/app.develop.js"></script>
      <script src="{{ STATIC_URL }}lib/jquery/dist/jquery.js"></script>
      {# Run tests by appending ?test=true to the url #}
      <script>
        if (location.search.indexOf('test=true') > -1) {
          document.write('<div id="qunit"></div><div id="qunit-fixture"></div>');
          document.write('<script src="{{ STATIC_URL }}js/tests.js"></scr' + 'ipt>');
        }
      </script>
    {% else %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js"></script>
      <script src="{{ STATIC_URL }}js/app.min.js"></script>
    {% endif %}
    <script>
      App.STATIC_URL = "{{ STATIC_URL }}";
    </script>
  </body>
</html>